#page-header{
    margin-top:10px;
    background-image: linear-gradient(to right, rgb(59, 110, 196), rgb(35, 5, 85));
    color: white;  
}

#title{
    font-size: 28px;
}

/* Custom CSS for the form and history section below it*/
#search-label{
    font-weight: bolder;
    font-size: 20px;
    line-height: 22px;
}

#search-input{
    border-radius: 3px;
    border-width: 1px;
}

#search-btn{
    background-color: rgb(90,162,233);
    color: white;
    border:none;
    border-radius: 3px;
}

.history-btn{
    background-color: rgb(183,183,183);
    border:none;
    border-radius: 3px;
}

/*Custom CSS for the right column*/
#left-col, #right-col{
    padding: 0px;
}

#left-col{
    padding-right: 10px;
}

#right-col{
    padding-left:10px;
}

#banner-title{
    font-size: 20px;
    font-weight:bolder;
}

/*Styling for banner with current date information*/
.banner-text{
    font-size: 16px;
    line-height: 30px;
}

.weather-icon{
    margin:0px auto 10px auto;
    height: 50px;
    width: 50px;
    overflow:hidden;
}
.index{
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    border:none;
    font-size: 12px;
}

#index-fav{
    background-color: rgb(21,126,81);
    color:white;
}

#index-mod{
    background-color: yellow;
}

#index-severe{
    background-color: red;
    color:white;
}

#forcast-title{
    font-size: 16px;
    font-weight:bold;
}

/*CSS for the cards with the weather information*/
.card{
    background-color: rgb(51,71,90);
    color: white;
    font-weight:bolder;
    height: 300px;
}

.card-text{
    font-size: 14px;
}

/*Media queries for font sizes and flex direction for cards*/
@media only screen and (max-width: 1200px){
    #search-label{
        font-size: 18px;
    }
}

@media only screen and (max-width: 670px){
    .card-title{
        font-size:12px;
    }
    .card-text{
        font-size: 12px;
    }
    #search-label{
        font-size: 16px;
    }

    .card{
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px){

    #left-col, #right-col{
        padding: 0px 0px 0px 0px;
        margin: 0px;
    }

    #left-col{
        padding-right: 0px;
    }

    #search-btn{
        font-size:22px;
        padding: 5px;
    }

    #right-col{
        padding-left: 0px;
    }
    .card-title{
        font-size:22px;
    }
    .card-text{
        font-size: 18px;
    }
    #search-label{
        font-size: 20px;
    }

    #forcast-title{
        font-size:24px;
    }

    #banner-title{
        font-size:22px;
    }

    .banner-text{
        font-size:18px;
    }
}

@media only screen and (max-width: 325px){
    .card{
        max-height: 400px;
    }
}


